.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-error {
  color:red;

}

.App-link {
  color: #09d3ac;
}

h1{
  font-size:28px;
}

.capitalize{
  text-transform: capitalize;
}
